
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}
#header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 100px;
    flex-direction: column;
}
.logo-link{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    justify-content: center;
    gap: 465px;
    padding-bottom: 110px;
}
.logo-link ul{
    display: flex;
    gap: 35px;
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}
.logo-link h3{
    font-size: 24px;
}
.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
    max-width: 456px;
}
.main-text p {
    padding: 10px 0 10px 0px;
    color: #E5E7EB;
    font-size: 18px;
}
.main-text h1 {
    color: #F9FAF8;
    font-size: 48px;
}
.sign-up{
    padding: 6px;
}
#first-button{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    width: 132px;
    height: 35px;
    font-weight: bold;
    border-color: #3882F6;
    border-radius: 5px;
    outline: none;
    border:none;
    font-size: 16px;
}
.placeholder{
    display: flex;
    width: 480px;
    height: 210px;
    background-color: rgb(114, 125, 130);
    justify-content: center;
    align-items: center;
}
.wrapped-text{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}
#random{
    padding: 70px 0;
    margin: 95px 0;
}
.principal-text{
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
}
.container-section{
    display: flex;
    padding: 20px;
    max-width: 100%;
    justify-content: space-between;
    gap: 0px;
    margin: 0 520px;
}
.container-square div.square{
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
    border-width: 5px;
    border-radius: 12px;
}
.container-square{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.square-text{
    display: flex;
    font-size: 18px;
    text-align: center;
    max-width: 170px;
}
#phrase{
    background-color: #E5E7EB;
    padding: 50px;
}
.phrase-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 400px;
    padding: 100px;
}
.inspiring{
    font-size: 36px;
    text-align: justify;  
    font-weight: 300;
    font-style: italic;
}
.thor{
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 24px;
}
#call{
    padding: 50px;
    margin: 50px 400px;
    
}
.call-container{
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding: 45px 15px;
    border-radius: 12px;
    gap: 200px;
}
.text-container{
    display: flex;
    flex-direction: column;
    color: white;
}

.text-container h3{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
}
.call-container button{
    background-color: #3882F6;
    border: 3px solid white;
    color: white;
    padding: 10px 32px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
}
footer{
    padding: 35px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1F2937;
}