
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: 'Roboto';
}
#header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 100px;
    flex-direction: column;
}
.logo-link{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    justify-content: center;
    gap: 470px;
    padding-bottom: 110px;
}
.logo-link ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.logo-link h3{
    font-size: 24px;
}
.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
    max-width: 456px;
}
.main-text p {
    padding: 10px 0 10px 0px;
    color: #E5E7EB;
    font-size: 18px;
}
.main-text h1 {
    color: #F9FAF8;
    font-size: 48px;
}
.sign-up{
    padding: 6px;
}
#first-button{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    width: 132px;
    height: 35px;
    font-weight: bold;
    border-color: #3882F6;
    border-radius: 5px;
    outline: none;
    border:none;
    font-size: 16px;
}
.placeholder{
    display: flex;
    width: 480px;
    height: 210px;
    background-color: rgb(114, 125, 130);
    justify-content: center;
    align-items: center;
}
.wrapped-text{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}